@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-bg {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner2-bg {
    background-color: black;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}